# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\px\qianduan\vue3-zhifou\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
